# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Next.js
.next
out

# Firebase
.firebase
firebase-debug.log

# Build output
dist
build

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production
.env.test

# TypeScript cache
*.tsbuildinfo

# Custom - Ignore Firebase Functions folder for Next.js build
functions/
